body,
html {
    height: 100%;
}
#main-container {
    background-image: url(../images/Golden_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.left-column
{
float:left;
width:80%;
}
.right-column
{
float:right;
width:15%;
}
}
h1 {
    font-size: 50px;
}

h3 {
    font-size: 22px;
}

#displayQuestion {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#header {
    width: 860px height:120px;

    /* sidebar */

#sidebar {
  float: right;
  width: 20%;
  max-width: 200px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}